@charset "utf-8";

/* λ…Έν† μ‚°μ¤ */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('NotoSans-Light'), url('notokr-light.eot');
    src: url('notokr-light.eot?#iefix') format('embedded-opentype'),
         url('notokr-light.woff2') format('woff2'),
         url('notokr-light.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'), url('notokr-regular.eot');
    src: url('notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('notokr-regular.woff2') format('woff2'),
         url('notokr-regular.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'), url('notokr-medium.eot');
    src: url('notokr-medium.eot?#iefix') format('embedded-opentype'),
         url('notokr-medium.woff2') format('woff2'),
         url('notokr-medium.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('notokr-bold.eot');
    src: url('notokr-bold.eot?#iefix') format('embedded-opentype'),
         url('notokr-bold.woff2') format('woff2'),
         url('notokr-bold.woff') format('woff');
}