<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bigdata.portal.mapper.CodeMapper">

	<!-- 코드아이디 조회 -->
	<select id="selectCode" parameterType="hashmap" resultType="Code">
		SELECT 
			CODE_ID, CODE_ID_NM, CODE_ID_DC, CODE_ID_USE_AT, 
			CODE_ID_REGIST_DTTM, CODE_ID_REGIST_ID, CODE_ID_UPDATE_DTTM, CODE_ID_UPDATE_ID
		FROM BDP_CODE 
		WHERE CODE_ID = #{codeId}
		AND CODE_ID_USE_AT = 'Y'
	</select>
	
	<!-- 코드아이디 조회 -->
	<select id="selectCodeAll" resultType="Code">
		SELECT 
			CODE_ID, CODE_ID_NM, CODE_ID_DC, CODE_ID_USE_AT, 
			CODE_ID_REGIST_DTTM, CODE_ID_REGIST_ID, CODE_ID_UPDATE_DTTM, CODE_ID_UPDATE_ID
		FROM BDP_CODE 
		WHERE CODE_ID_USE_AT = 'Y'
	</select>
	
	<!-- 코드아이디 조회 -->
	<select id="selectCodeDetail" parameterType="hashmap" resultType="CodeDetail">
		SELECT 
			CODE_ID, CODE, CODE_NM, CODE_DC, CODE_VAL, CODE_SORT, CODE_USE_AT, 
			CODE_REGIST_DTTM, CODE_REGIST_ID, CODE_UPDATE_DTTM, CODE_UPDATE_ID
		FROM BDP_CODE_DETAIL
		WHERE CODE_ID = #{codeId}
		AND CODE = #{code}
		AND CODE_USE_AT = 'Y'
	</select>
	
	<!-- 코드아이디 조회 -->
	<select id="selectCodeDetailList" parameterType="hashmap" resultType="CodeDetail">
		SELECT 
			CODE_ID, CODE, CODE_NM, CODE_DC, CODE_VAL, CODE_SORT, CODE_USE_AT, 
			CODE_REGIST_DTTM, CODE_REGIST_ID, CODE_UPDATE_DTTM, CODE_UPDATE_ID
		FROM BDP_CODE_DETAIL
		WHERE CODE_ID = #{codeId}
		AND CODE_USE_AT = 'Y'
		ORDER BY CODE_SORT ASC
	</select>		
	
	<!-- 코드아이디 조회 -->
	<select id="selectCodeDetailAll" resultType="CodeDetail">
		SELECT 
			CODE_ID, CODE, CODE_NM, CODE_DC, CODE_VAL, CODE_SORT, CODE_USE_AT, 
			CODE_REGIST_DTTM, CODE_REGIST_ID, CODE_UPDATE_DTTM, CODE_UPDATE_ID
		FROM BDP_CODE_DETAIL
		WHERE CODE_USE_AT = 'Y'
		ORDER BY CODE_ID ASC, CODE_SORT ASC
	</select>	
</mapper>
