<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bigdata.portal.mapper.OkdabLoginMapper">

	
	<!-- 데이터 분석 설정 저장 -->
	<insert id="insertOkdabLogin" parameterType="hashmap">
		INSERT INTO BDP_OKDABLOGIN_CHECK SET
			OKC_UUID = #{okcUuid},
			OKC_USER_ID = #{okcUserId},
			OKC_USER_NAME = #{okcUserName},
			OKC_ACCESS_IP = #{okcAccessIp},
			OKC_ACCESS_DTTM = #{okcAccessDttm},
			OKC_ACCESS_YN = "Y",
			OKC_ACCESS_END_DTTM = NULL
	</insert>
	
	<!-- 데이터 분석 목록 리턴 -->
	<select id="selectOkdabLogin" parameterType="hashmap" resultType="EntityMap">
	<![CDATA[
		SELECT * FROM BDP_OKDABLOGIN_CHECK
		WHERE OKC_UUID = #{okcUuid}
		AND OKC_ACCESS_YN = "Y"
	]]>
	</select>
		
	<update id="updateOkdabLogin" parameterType="hashmap">
		UPDATE BDP_OKDABLOGIN_CHECK SET
			OKC_ACCESS_YN = "N",
			OKC_ACCESS_END_DTTM = NOW()
		WHERE OKC_UUID = #{okcUuid}
	</update>
</mapper>